* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first_img {
    height: 60px;
    width: 60px;
}
.second_img {
    height: 80px;
    width: 80px;
}
.third_img {
    height: 90px;
    width: 90px;
}
.fourth_img {
    height: 100px;
    width: 100px;
}
.fifth_img {
    height: 110px;
    width: 110px;
}
.sixth_img {
    height: 360px;
    width: 360px;
    border-radius: 50%;
}
.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-height: 100vh;
    background: url('/src/img/bg/3.jpg') center (center/cover) no-repeat;
}
p {
    padding-left: 100px;
    text-transform: uppercase;
    color: #fff;
}
.outer {
    position: relative;
    margin: 0 20px;
}
.button {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.outer button, .outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.outer button {
    outline: none;
    border: none;
    font-size: 15px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.button button, .circle button {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}
.button span, .circle span {
    border-radius: 50%;
}
.outer:hover span:nth-child(1) {
    filter: blur(7px);
}
.outer:hover span:nth-child(2) {
    filter: blur(14px);
}
.outer:hover {
    animation: rotate 1.5s linear infinite;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
.first {
    margin-top: 1%;
    margin-left: 30%;
    p {
        padding-top: 30px;
        padding-left: 110px;
    }
}
.second {
    margin-top: 0;
    margin-left: 25%;
    height: 120px;
    width: 120px;
    p {
        padding-top: 50px;
        padding-left: 150px;
    }
}
.second button {
    height: 110px;
    width: 110px;
}
.third {
    margin-top: 0;
    margin-left: 23%;
    height: 130px;
    width: 130px;
    p {
        padding-top: 50px;
        padding-left: 160px;
    }
}
.third button {
    height: 120px;
    width: 120px;
}
.fourth {
    margin-left: 25%;
    height: 150px;
    width: 150px;
    p {
        padding-top: 50px;
        padding-left: 180px;
    }
}
.fourth button {
    height: 140px;
    width: 140px;
}
.fifth {
    margin-left: 30%;
    height: 160px;
    width: 160px;
    p {
        padding-top: 60px;
        padding-left: 200px;
    }
}
.fifth button {
    height: 145px;
    width: 145px;
}
.sixth {
    margin-top: -520px;
    margin-left: 60%;
    height: 380px;
    width: 380px;
}
.sixth button {
    height: 360px;
    width: 360px;
}
@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
@media (max-width: 640px) {
    .center {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .outer {
        position: relative;
        margin: 0;
        background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    }
}