body .section_body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1100px;
}
.section .card {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 15px;
    overflow: hidden;
}
.section .card .imgBx, .section .card .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section .card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section .card .contentBx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;
}
.section .card:hover .contentBx::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}
.section .card .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .card .contentBx .content {
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}
.section .card:hover .contentBx .content {
    transform: translateX(0px);
    transition-delay: 0.5s;
}
.section .card .contentBx .content h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section .card .contentBx .content p {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-align: left;
    color: #333;
}